body {
    background-image: url('fondo_rojo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color:darkred;
    border-radius: 10px;
}
.box.horizontal {
    width: 100vh;
    height: 18vh;
}
#bottom {
    position: fixed;
    bottom: 2%;
    left: 25%;
}
#top {
    position: fixed;
    top: 2%;
    left: 25%;
}
.box.vertical {
    flex-direction: column;
    width: 18vh;
    height: 80vh;
}
#left {
    position: fixed;
    top: 10%;
    left: 2%;
}
#rigth {
    position: fixed;
    top: 10%;
    right: 2%;
}
.box.descarte {
    position: fixed;
    top: 27%;
    left: 35%;
    width: 200px;
    height: 310px;
}
.box.pila{
    position: fixed;
    top: 32%;
    left: 55%;
    width: 140px;
    height: 210px;
}
.carta{
    width: 12vh;
    height: 18vh;
    border-radius: 10px;
    background-size: cover;
    background-image: url(carta_uno.jpg);
}
#descarte{
    width: 190px;
    height: 300px;
    background-image: url(Carta_uno_reverse.jpg);
}
#pila{
    width: 130px;
    height: 200px;
}
#jleft{
    rotate: 90deg;
}
#jrigth{
    rotate: -90deg;
}
#jmain{
    background-image: url(Carta_uno_reverse.jpg);
}
